.aurora-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: inherit;
}

.aurora-container canvas {
  width: 100%;
  height: 100%;
  display: block;
  rotate: 180deg;
}